body {
  font-family: "Gill Sans";
  color: #cccccc;
  background-color: #222222;
}

#adhviz {
  /* background-color: #000000 */
}

.tooltip {
  position: absolute;
  border: solid;
  border-width: 2px;
  padding: '5px';
  background-color: white;
}
