body {
  font-family: "Oswald";
  color: #cccccc;
  background-color: #222222;
  text-align: center;
}


.tooltip {
  position: static;
  border: solid;
  border-width: 2px;
  padding: 10px 15px;
  background-color: #222222;
  font-family: "Oswald";
  color: #cccccc;
  visibility: hidden;
}


