body {
  font-family: "Gill Sans";
  color: #cccccc;
  background-color: #222222;
}

#adhviz {
  /* background-color: #000000 */
}

div.lms{
  /* width: 800px */
  border:2px solid white
  /* border-collapse: separate
  overflow: hidden
  border-radius: 8px
  position: relative */

}
